[Desktop Entry]
Name=yeroth-erp-3-0-standalone-ENGLISH
Exec=/opt/yeroth-erp-3-0-standalone-ENGLISH/bin/yeroth-erp-3-0-standalone-ENGLISH.sh
Icon=yeroth-erp-3-0
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Utility;
