[Desktop Entry]
Name=yeroth-erp-3.0-academic
Exec=/opt/yeroth-erp-3.0-academic/bin/yeroth-erp-3.0-academic.sh
Icon=yeroth-erp-3-0
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Utility;
