[Desktop Entry]
Name=yeroth-pgi-3.0-standalone
Exec=/opt/yeroth-erp-3-0-standalone/bin/yeroth-erp-3-0-standalone.sh
Icon=yeroth-pgi-3-0
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Utility;
