[Desktop Entry]
Name=yeroth-erp-3.0-client
Exec=/opt/yeroth-erp-3.0-client/bin/yeroth-erp-3.0-client.sh
Icon=yeroth-erp-3-0
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Utility;
